


html, body, h1, h2, h3, h4, h5, h6, p{
    all: unset;
}

:root{
    --container-padding-y: 28px;
    --container-padding-x: 16px;

    --body-padding-x: 16px;
    --body-padding-x-thin: 9px;

    --body-padding-y: 7px;
    --body-padding-y-large: 9px;
    --body-padding-y-extra-large: 16px;

    --arrow-margin-left: 12px;
    --box-margin-right: 16px;
    --box-margin-right-small: 12px;
    --box-margin-right-thin: 8px;

    --subheadline-margin-bottom: 18px;
    --section-margin-top: 36px;

    --chinese-font: "Noto Sans TC", Sans-serif;
    --english-font: "Roboto", Sans-serif;

    --regular-border-radius: 10.5px;

    --scroll-bar-size: 4px;
}

*::-webkit-scrollbar-thumb{
    background: var(--secondary-text);
    border-radius: 2px;
}

*::-webkit-scrollbar-track {
    background:  transparent;
}
*::-webkit-scrollbar {

    max-width: var(--scroll-bar-size);
    
}

*, *::after, *::before{

  
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
    font-family: var(--chinese-font);
    font-weight: 400;
    font-optical-sizing: auto;
    user-select: none;
    box-sizing: border-box !important;
}
input, .output-box{
    user-select: auto;
}
body{
    --background: #000000;
    --Surface: #1C1C1E;


    --search-background: #1C1C1E;
    --search-background-active: #2B2B2E;

    --text: #ffffff;
    --secondary-text: #98989F;

    --toggle: #34C759;
    --disabled-toggle: #39393D;

    --icon-background-blue: #007AFF;
    --icon-background-green: #33C458;
    --icon-background-purple: #5856D6;
    --icon-background-gray: #8E8E93;

    --border: #3D3D41;
    --subheading: #8D8D93;

    --error: #FF3B30;

    overflow-x: clip;
}
body.lightmode{
    --background: #F2F2F7;
    --Surface: #FFFFFF;

    --search-background: #1C1C1E;
    --search-background-active: #D1D1D6;

    --text: #000000;
    --secondary-text: #8A8A8E;

    --toggle: #34C759;
    --disabled-toggle: #E9E9EA;

    --icon-background-blue: #007AFF;
    --icon-background-green: #33C458;
    --icon-background-purple: #5856D6;
    --icon-background-gray: #8E8E93;

    --border: #B9B9BB;
    --subheading: #85858B;

    --error: #FF3B30;
}

.icon-bg-blue{
    background-color: var(--icon-background-blue);
}
.icon-bg-green{
    background-color: var(--icon-background-green);
}
.icon-bg-purple{
    background-color: var(--icon-background-purple);
}
.icon-bg-gray{
    background-color: var(--icon-background-gray);
}
.icon-bg-white{
    background-color: var(--text);
}
.body-regular-font, 
.body-regular-dark-font,
.paragraph-regular-font,
.character-medium-font,
.radical-regular-dark-font,
.headline-font,
.section-subheading-font{
    font-family: var(--chinese-font);
    font-size: 17px;
    line-height: 22px;
    letter-spacing: 0.5px;
    font-weight: 400;
    color: var(--text);
}

.body-regular-dark-font{
    color: var(--secondary-text);
}
.paragraph-regular-font{
    line-height: 1.5;
}

.character-medium-font{
    font-size: 22px;
    line-height: 1;
    font-weight: 500;
}
.radical-regular-dark-font{
    color: var(--secondary-text);
    font-size: 13px;
    line-height: 1;
}
.headline-font{
    font-size: 32px;
    line-height: 41px;
    font-weight: 600;
}
.english-font{
    letter-spacing: 0px;
    font-family: var(--english-font);
}
.section-subheading-font{
    line-height: 18px;

    font-weight: 500;
    font-size: 15px;
    color: var(--subheading);
}
.status-tip{
    font-family: var(--english-font);
    font-size: 15px;
    line-height: 20px;
    letter-spacing: -0.24px;
    font-weight: 400;
    color: var(--text);
}

.app{

  
    width: 380px;
    height: 600px;



    background-color: black;
    overflow-x: hidden;
  
}
.app .pages-container{
    transition: transform 0.6s cubic-bezier(0.45, 0, 0.55, 1);
    width: 100%;
    height: 100%;
    display: flex;
    position: relative;
    transform: translateX(0%);
}

.app .pages-container.detail{
    transform: translateX(-100%);
}

.main-container, .detail-setting-container{
  
    width: 380px;
    height: 600px;

    padding: var(--container-padding-y) var(--container-padding-x) ;
    color: var(--text);
    overflow-y: auto;
  
}
.detail-setting-container{
    transition: left 0.3 ease-in-out;
    position: absolute;
    left: 100%;
  
}



.main-container > header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: var(--container-padding-y);
}
.main-container > header > h1{
    margin-left: var(--box-margin-right-small);
}
.main-container > header > img{
    width: 38px;
    height: 38px;
}
.main-container > main{
    display: flex;
    flex-direction: column;
}

.search-section .search-bar,
.output-box{
 
    background-color: var(--search-background);
    border-radius: var(--regular-border-radius);
}
.search-section .search-bar:has(input:active){
    background-color: var(--search-background-active);
    transition: background-color 0.2s ease-in-out;
}
.search-section .search-bar{
    display: flex;
    align-items: center;
    padding:var(--body-padding-y) var(--body-padding-x-thin);
    margin-bottom: var(--body-padding-y-extra-large);
    width: 100%;
    height: 36px;

}
.search-section .cross-button{

    width: 24px;
    min-width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: var(--disabled-toggle);

    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;
    transition: all 0.2s linear;
 
    transform-origin: center;
    
}
.search-section .cross-button img{
    width: 9px;
    height: 9px;
}

.search-section .cross-button:hover{
    transform: scale(1.25);
}
.search-section .cross-button:active{
    transform: scale(1);
}
.search-bar input{
    all: unset;
    height: 100%;
    width: 100%;
}

.search-section .search-icon{
    margin-right: 5px;
    width: 20px;
    height: 20px;
    color: var(--secondary-text);

}


.output-box{
    scrollbar-gutter: stable;
    height: 238px;
    position: relative;
    padding: var(--body-padding-y-large)  var(--body-padding-x-thin);
}
.output-box .error-message-box{
    position: absolute;
    left: 0;
    bottom: 0;
    padding: var(--body-padding-y-large) var(--body-padding-x-thin);
    color: var(--error);
    max-width: 80%;
}
.output-box .error-message-box:empty{
    display: none;
}
.output-box .text-output-mode p{

    display: block;
    width: 100%;
    height: 220px;

    overflow-y: auto;
    position: relative;
    padding-bottom: 40px;
}
.output-box .text-output-mode p:empty::after{
    content: "......請在上方輸入文字";
    position: absolute;
    inset: 0;
    opacity: 0.4;
    font-weight: 300;
}
.output-box .text-output-mode img{
    max-width: 100%;

    object-fit: cover;
}
.output-box  .copy-button{
 
    gap: var(--box-margin-right-thin);
    position: absolute;
    right: var(--body-padding-y-large);
    bottom: var(--body-padding-x-thin);
    cursor: pointer;




    border-radius: 18.5px;

    display: inline-flex;
    align-items: center;

    padding: 12px;
 
    z-index: 1;
}
.output-box  .copy-button::before{
    content: '';
    background-color: var(--icon-background-blue);
    position: absolute;
    right: 2px;
    top: 50%;
    transform: translateY(-50%);
    width: 45px;
    height: 45px;
    border-radius: 22.5px;
    box-shadow: 4px 6px 8px rgba(0, 0, 0, 0.15);
    z-index: -1;
    transition: width 0.3s ease-in-out;
}
.output-box  .copy-button:hover::before{
    width: 102.344px;
}
.output-box  .copy-button > span{
    opacity: 0;
    transition: opacity 0.3s ease-in-out, clip-path 0.3s ease-in-out;
    position: relative;
    clip-path: inset(0 0% 0 100%);
    text-align: center;
}
.output-box  .copy-button:hover  span{
    opacity: 1;
    clip-path: inset(0 0% 0 0%);
}
.output-box[data-output-mode="text-output-mode"]  .quick-output-mode,
.output-box[data-output-mode="image-output-mode"]  .quick-output-mode
{
    display :none !important;
}
.output-box[data-output-mode="quick-output-mode"] .text-output-mode{
    display :none !important;
}

.quick-output-mode{
    width: 100%;
    display: grid;

    grid-template-columns: repeat(auto-fill, 52px);
    grid-auto-rows: 68px;

    gap: 10px 11px;
    height: 220px;

    overflow-y: auto;
    scrollbar-gutter: stable;

}
.quick-output-mode  .character{
  
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4px;
    background-color: var(--disabled-toggle);
    border-radius: calc(var(--regular-border-radius) * 1.084);
}
.quick-output-mode  .character .radical{

    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    width: 100%;
    padding: 8px var(--body-padding-x-thin) 0 var(--body-padding-x-thin);
}

.setting-section{
    margin-top: var(--section-margin-top);
    border-radius: var(--regular-border-radius);
    background-color: var(--Surface);
}
.setting-section .setting-row{
    padding: var(--body-padding-y-large) var(--body-padding-x);
    display: grid;
    grid-template-columns: 30px 1fr;
    grid-auto-rows: 30px;
    gap: var(--box-margin-right);
    align-items: center;
    position: relative;
}
.setting-section .setting-row:not(:first-child)::after,
.setting-section label:not(:first-child) .setting-row::after{
    content: '';
    position: absolute;
    right: 0;
    top: 0.25px;
    background-color: var(--border);
    height: 0.5px;
    width: calc(100% - 30px - 16px - 16px + 2px);

}

.setting-section .setting-row .icon{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 7px;
}
.setting-section .setting-row .title{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.setting-section .setting-row .title .detail{
    cursor: pointer;
}
.setting-section .setting-row .title .detail span{
    transition: color 0.3s ease-in-out;
}
.setting-section .setting-row .title .detail:hover span{
    color: var(--text);
}

.setting-section .setting-row .title .detail img{
    transition: transform 0.3s ease-in-out;

    margin-left:  var( --box-margin-right-thin);
  
}
.setting-section .setting-row .title .detail:hover img{
    transform: translateX(2px);
}
.ios-toggle{
    cursor: pointer;
}
.ios-toggle > input{
    display: none;
}
.ios-toggle span{
    --toggle-height: 31px;
    display: inline-block;
    width: 51px;
    height: var(--toggle-height);
    background-color: var(--disabled-toggle);
    border-radius: calc(var(--toggle-height) / 2);
    position: relative;
    transition: all 0.3s ease-in-out;
    
}

.ios-toggle span::after{
    --toggle-circle-diameter: 27px;
    --toggle-circle-wider-width: 35px;
    content: '';
    display: inline-block;
    width: var(--toggle-circle-diameter);
    height: var(--toggle-circle-diameter);
    background-color: white;
    border-radius: calc(var(--toggle-circle-diameter) / 2);
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.15), 0 3px 1px rgba(0, 0, 0, 0.06);

    transition: all 0.3s ease-in-out;
    left: 2px;
}
.ios-toggle:has(> input:checked) > span{

    background-color: var(--toggle);
}
.ios-toggle:has(> input:checked) > span::after{
    left: calc(100% - var(--toggle-circle-diameter) - 2px);
    box-shadow: 0 -3px -8px rgba(0, 0, 0, 0.15), 0 -3px -1px rgba(0, 0, 0, 0.06);
 
}
.ios-toggle:has(> input:active) > span::after{
    
    width: var(--toggle-circle-wider-width);

}
.ios-toggle:has(> input:checked:active) > span::after{

    left: calc(100% - var(--toggle-circle-diameter) - 2px - 8px);
}


.detail-setting-container header {
    position: relative;
}
.detail-setting-container header .previous-page-title{
    cursor: pointer;
}
.detail-setting-container header .previous-page-title img{
    width: 18px;
    height: 24px;
    margin-right: 5px;
}
.detail-setting-container header .previous-page-title .body-regular-font{
    color: var(--icon-background-blue);
 
}
.detail-setting-container header .previous-page-title{
    display: flex;
    align-items: center;
}
.detail-setting-container header .page-title{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.detail-setting-container header .page-title span{
    font-weight: 500;

}


.detail-setting-container .setting-section{
    margin-top: var(--body-padding-y-extra-large);
    display: block;;
}


.detail-setting-container .setting-section .setting-row{
    padding: var(--body-padding-y-large) var(--body-padding-x-thin);

    grid-template-columns: 24px 1fr;
    gap: var(--body-padding-x-thin);
    cursor: pointer;
}
.detail-setting-container .setting-section label:not(:first-child) .setting-row::after{

    width: calc(100% - 24px - 9px - 9px + 2px);

}
.detail-setting-container .setting-section .setting-row .icon img{
    opacity: 0;

}
.detail-setting-container .setting-section .setting-row span{
    transform: translateX(4px);
}
.section-subheading{
    margin-top: var(--section-margin-top);
    margin-left: var( --arrow-margin-left);
}
.detail-setting-container .setting-section input[type="checkbox"]{
    display: none;
}
.detail-setting-container .setting-section .setting-row:has(> input[type="checkbox"]:checked) .icon img{
    opacity: 1;
}

.text-to-image-template{
    position: fixed;
    z-index: -1;
    left: 0;
    top: 0;
    transform: translate(-100%,-100%);
}
.text-to-image-template .container{
    width: 760px;
    padding: var(--body-padding-y-extra-large);
    background-color: #151718;
    min-height: 320px;
}
.text-to-image-template .dots{
    display: grid;
    gap: 6px;
    grid-template-columns: repeat(3, 14px);
    grid-template-rows: 14px;
    border-radius: 2px;

}
.text-to-image-template .dots div{
    border-radius: 50%;
}
.text-to-image-template .red{
    background-color: #FF5F56;
}
.text-to-image-template .yellow{
    background-color: #FFBD2E;
}
.text-to-image-template .green{
    background-color: #27C93F;
}
.text-to-image-template .output-target{
    padding: var(--body-padding-y-extra-large) 0;
}
