
html, body, h1, h2, h3, h4, h5, h6, p{
    all: unset;


}
*{

    box-sizing: border-box;
        
    font-family: "Roboto", serif;
    font-weight: 400;
}

:root{
    
    --body-padding-x: 0 16px 0 16px;
    --body-padding-x-thin: 0 9px 0 9px;

    --body-padding-y: 7px 0 7px 0;
    --body-padding-y-large: 9px 0 9px 0;
    --body-padding-y-extra-large: 16px 0 16px 0;

    --arrow-margin-left: 0 0 0 12px;
    --box-margin-right: 0 16px 0 0;
    --box-margin-small: 0 12px 0 0;
    --box-margin-thin: 0 8px 0 0;

    --subheadline-margin-bottom: 0 0 18px 0;
    --section-margin-bottom: 0 0 40px 0;
}
body{
    --background: #000000;
    --Surface: #1C1C1E;

    --text: #ffffff;
    --secondary-text: #98989F;

    --toggle: #34C759;
    --disabled-toggle: #39393D;

    --icon-background-blue: #007AFF;
    --icon-background-green: #33C458;
    --icon-background-purple: #5856D6;
    --icon-background-gray: #8E8E93;

    --border: #3D3D41;
}
body.lightmode{
    --background: #F2F2F7;
    --Surface: #FFFFFF;
 
    --text: #000000;
    --secondary-text: #8A8A8E;

    --toggle: #34C759;
    --disabled-toggle: #E9E9EA;

    --icon-background-blue: #007AFF;
    --icon-background-green: #33C458;
    --icon-background-purple: #5856D6;
    --icon-background-gray: #8E8E93;

    --border: #B9B9BB;
}
.main-container{
    width: 380px;
    height: 720px;
    background-color: black;
    color: var(--text);
}

.ios-toggle{
    cursor: pointer;
}
.ios-toggle > input{
    display: none;
}
.ios-toggle span{
    --toggle-height: 31px;
    display: inline-block;
    width: 51px;
    height: var(--toggle-height);
    background-color: var(--disabled-toggle);
    border-radius: calc(var(--toggle-height) / 2);
    position: relative;
    transition: all 0.3s ease-in-out;

}

.ios-toggle span::after{
    --toggle-circle-diameter: 27px;
    --toggle-circle-wider-width: 35px;
    content: '';
    display: inline-block;
    width: var(--toggle-circle-diameter);
    height: var(--toggle-circle-diameter);
    background-color: white;
    border-radius: calc(var(--toggle-circle-diameter) / 2);
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.15), 0 3px 1px rgba(0, 0, 0, 0.06);

    transition: all 0.3s ease-in-out;
    left: 2px;
}
.ios-toggle:has(> input:checked) > span{

    background-color: var(--toggle);
}
.ios-toggle:has(> input:checked) > span::after{
    left: calc(100% - var(--toggle-circle-diameter) - 2px);
    box-shadow: 0 -3px -8px rgba(0, 0, 0, 0.15), 0 -3px -1px rgba(0, 0, 0, 0.06);
 
}
.ios-toggle:has(> input:active) > span::after{
    
    width: var(--toggle-circle-wider-width);

}
.ios-toggle:has(> input:checked:active) > span::after{

    left: calc(100% - var(--toggle-circle-diameter) - 2px - 8px);
}




